@import "../../app.scss";

.future{
  position: relative;
 

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    font-size: 36px;
    z-index: 0;
    padding-top: 30px;

   

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }
    h2{
      color:#917929;
    }

    .progressBar {
      height: 10px;
      background-color: #f0e3b7;
    }
  }

  .container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;

    .wrapper{

      .textContainer{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;

        p{
          font-size: 25px;
          padding: 3rem;
          width: 700px;
        }
      }
    }
  }
    }
  
