@import "../../app.scss";

.navbar {
  height: 100px;
  background-color: #025937;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .buttons {
      a {
        padding: 6px;
        border: 1px solid #f0e3b7;
        border-radius: 5px;
        background-color: transparent;
        margin-right: 20px;
        cursor: pointer;
        font-size: larger;
        font-weight: 500;
        color: #f0e3b7;

        @include mobile{
         padding: 6px;
        }
      }
    }
  }
}
